@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./variables.css?version=1.4");

@import url("./desktop/navigation.css?version=1.4");
@import url("./desktop/header.css?version=1.4");
@import url("./desktop/main.css?version=1.4");
@import url("./desktop/footer.css?version=1.4");

@import url("./mobile/navigation.css?version=1.4");
@import url("./mobile/header.css?version=1.4");
@import url("./mobile/main.css?version=1.4");
@import url("./mobile/footer.css?version=1.4");

@keyframes unscrolled {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 0 0, 0 0, 0 100%);
  }
}

@keyframes scrolled {
  0% {
    clip-path: polygon(0 0, 100% 0, 0 0, 0 0, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1vw;
  /* word-spacing: 0.15rem; */
  overflow-x: hidden;
}

@media (max-aspect-ratio: 1/1) {
  html {
    /* word-spacing: 1rem; */
  }
}

body {
  font-family: "Arial", sans-serif;
  color: var(--black);
  overflow-x: hidden;
}

p,
ul {
  line-height: 135%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

input,
textarea,
iframe,
button {
  outline: none;
  border: none;
  font: inherit;
  color: inherit;
}

textarea {
  resize: vertical;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: background-color var(--fast);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--dark-green);
}

.initial ::-webkit-scrollbar-thumb {
  border-top-left-radius: 0 !important;
  border-radius: 0;
}

ul {
  list-style-type: "➤ ";
}
