:root {
  --white: #ffffff;
  --black: #19191b;
  --gray: #909097;
  --blue: #1f2b92;
  --green: #00c753;
  --dark-green: #008080;
  --red: #f02222;

  --header: rgba(25, 25, 27, 0.3);

  --shadow: #19191b17;

  --fast: 0.2s;
  --fast-delay: 0s ease 0.2s;

  --small: 1.1rem;
  --medium: 1.25rem;
  --large: 1.5rem;
  --vast: 3rem;
  --mobile-vast: 8rem;
}

@media (max-aspect-ratio: 1/1) {
  :root {
    --small: 4rem;
    --medium: 5rem;
    --large: 5rem;
    --vast: 5rem;

    --header: rgba(0, 25, 25, 0.7);
  }
}
