section {
  padding: 10rem 10rem 0;
}

section:last-of-type {
  padding-bottom: 10rem;
}

section h3 {
  font-size: var(--vast);
  font-weight: 300;
  text-align: center;
  margin-bottom: 5rem;
  color: var(--dark-green);
}

section h4 {
  font-size: var(--large);
  font-weight: 500;
  color: var(--dark-green);
  text-align: center;
  margin-bottom: 5rem;
}

section .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 5rem;
  font-size: var(--small);
  align-items: center;
}

section .content img {
  width: 100%;
  max-height: 50rem;
}

section .content ul {
  list-style-position: inside;
}

section .content li {
  margin: 0.5rem 0;
}

section .content h4 {
  grid-column: span 2;
}

section .content p,
section .content ul {
  margin-bottom: 1rem;
}

section .content b {
  font-weight: 600;
}

section .content > div > :last-child {
  margin-bottom: 0;
}

section .content > div > ul:last-child > li:last-of-type {
  margin-bottom: 0;
}

#before-after {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.before-after {
  position: relative;
  width: 100%;
  height: 35rem;
  margin-bottom: 5rem;
}

.before-after img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  height: 35rem !important;
  transition: clip-path var(--fast);
  /* animation: unscrolled 0.5s linear forwards; */ /* Performance Issues */
  clip-path: inset(0% 0% 0% 100%);
}

.before-after img.active {
  /* animation: scrolled 0.5s linear forwards; */
  clip-path: inset(0% 0% 0% 0%);
}

.before-after i {
  position: absolute;
  background-color: var(--dark-green);
  color: var(--white);
  font-size: var(--large);
  padding: 0.5rem;
  border-radius: 10rem;
  top: 1rem;
  right: 6rem;
  cursor: pointer;
  opacity: 0.5;
  transition: background-color var(--fast), opacity var(--fast);
}

.before-after i:hover {
  opacity: 1;
  background-color: var(--green);
}

#masonry-cover {
  padding: 1rem;
  background-color: var(--black);
  position: relative;
}

#masonry {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 12rem 12rem 12rem;
  row-gap: 1rem;
  overflow-x: hidden;
}

#masonry div {
  display: flex;
  transition: transform var(--fast) linear;
}

#masonry img {
  border-radius: 0;
  margin-right: 1rem;
}

#masonry-left,
#masonry-right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 4rem;
  opacity: 0;
  transition: opacity var(--fast);
}

#masonry-left {
  left: 1rem;
  background-image: linear-gradient(90deg, var(--black) 0%, transparent 100%);
}

#masonry-right {
  right: 1rem;
  background-image: linear-gradient(90deg, transparent 0%, var(--black) 100%);
}

#masonry-left.active,
#masonry-right.active {
  opacity: 1;
}

#masonry-cover i {
  cursor: pointer;
  transition: color var(--fast);
}

#masonry-cover i:hover {
  color: var(--blue);
}

#masonry-cover i:active {
  color: var(--green);
}

#masonry-cover .fa-angle-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5rem;
  font-size: 5rem;
}

#masonry-cover .fa-angle-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5rem;
  font-size: 5rem;
}

#address {
  width: 30rem;
  margin: 0 auto 5rem;
}

#address #social-medias {
  margin: 0 -2.5rem 5rem;
  text-align: center;
}

#address #social-medias p {
  font-size: var(--small);
  margin: 1rem 0 2.5rem;
}

#address #social-medias div > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--small);
  font-weight: 600;
  color: var(--dark-green);
}

#address #social-medias img {
  height: var(--large);
  transform: translateY(0.4rem);
}

#address #social-medias i {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#address #social-medias div:nth-of-type(1) i {
  color: #f2a60c;
}

#address #social-medias div:nth-of-type(2) i {
  color: #25d366;
}

#address #social-medias div:nth-of-type(3) i {
  color: #c13584;
}

#address #social-medias div:nth-of-type(4) i {
  color: #ff0000;
}

#address p {
  font-size: var(--small);
  margin-bottom: 1rem;
}

iframe {
  width: 100%;
  height: 15rem;
}

#form {
  width: 30rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--small);
}

#form p {
  margin-bottom: 1rem;
}

#form div {
  position: relative;
  margin-bottom: 1rem;
  width: 15rem;
}

#form div i {
  position: absolute;
  top: 50%;
  left: 0.6rem;
  transform: translateY(-50%);
  color: var(--green);
}

#form input,
#form textarea {
  width: 100%;
  border-radius: 1rem;
  border: 0.2rem solid var(--dark-green);
  font-weight: 600;
}

#form input {
  padding: 0.2rem 0.4rem 0.2rem 1.75rem;
}

#form textarea {
  padding: 0.4rem;
  margin-bottom: 1rem;
}

#form span {
  margin-bottom: 0.25rem;
  font-style: italic;
}

#form button {
  border: 0.2rem solid var(--dark-green);
  border-radius: 10rem;
  padding: 0.2rem 0.4rem;
  min-width: 7.5rem;
  background-color: var(--white);
  font-weight: 600;
  color: var(--dark-green);
  cursor: pointer;
  transition: background-color var(--fast), color var(--fast),
    border-color var(--fast);
}

#form button:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

#form button:active {
  background-color: var(--green);
  border-color: var(--green);
}

#about-us,
#botox,
#rhinoplasty,
#gallery,
#contact {
  transform: translateY(-10rem);
}

#float {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: #25d366;
  color: var(--white);
  font-size: 2.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
