nav {
  position: fixed;
  top: 0;
  width: 100rem;
  height: 6rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  z-index: 1;
  box-shadow: 0 0.5rem 0.5rem var(--shadow);
  transition: height var(--fast);
}

.initial nav {
  height: 8rem;
}

h1 {
  font-size: var(--large);
  font-weight: 600;
  margin-right: auto;
}

#phone {
  font-weight: 600;
  font-size: var(--small);
  color: var(--dark-green);
  padding: 1rem;
  margin-right: auto;
}

#phone i {
  margin: 0.2rem 0.15rem 0 0;
}

#navigation {
  margin-right: 1rem;
}

#navigation a {
  font-weight: 500;
  margin-right: 1rem;
  transition: color var(--fast);
  display: inline-block;
  padding: 1rem 0;
  transition: color var(--fast);
}

#navigation a.active {
  color: var(--dark-green);
}

#contact-icons a {
  font-size: var(--medium);
  margin-right: 0.5rem;
  transition: color var(--fast);
  padding: 1rem 0;
  color: var(--dark-green);
}

#contact-icons a:last-of-type {
  margin-right: 0;
}

#navigation a:hover,
#contact-icons a:hover {
  color: var(--green);
}
